# ðŸ§¹ Module 2: Data Cleaning

## ðŸŽ¯ Objective
Now that youâ€™ve explored the dataset and identified issues, itâ€™s time to clean the data so that we can use it for analysis.

You will:
- Convert data types (e.g., Date, Quantity, Price)
- Handle missing and invalid values
- Remove duplicates
- Standardize categorical variables

Your cleaned dataset will be the foundation for calculating portfolio value in the next module.

### Step 2.0 â€“ Import the DataFrame

Make sure you start from the same dataset you explored in Module 1.

Import the CSV File

In [18]:
# ðŸ’¡ Tip: Use the csv format
# YOUR CODE HERE
import pandas as pd
df = pd.read_csv("Data_To_Clean")
df.head()

  Asset Quantity       Price        Date      Type
0   123   twenty  1255188.12         NaN      Hold
1  TSLA        9       916.0  2024-07-14      Sell
2   NaN      NaN         NaN  2023-15-01       NaN
3  AAPL      NaN         NaN   yesterday      Hold
4   NaN      NaN  3111455.83  2022-02-30  Purchase

### Step 2.1 â€“ Convert data types

Make sure:
- `Date` is a datetime object
- `Quantity` and `Price` are numeric

If conversion fails due to bad data, handle errors gracefully (e.g., use `errors='coerce'`).

In [19]:
# ðŸ’¡ Tip: Use pd.to_datetime() and pd.to_numeric()
# Convert Date column
df["Date"] = pd.to_datetime(df["Date"], errors='coerce')
# YOUR CODE HERE
# Convert Quantity and Price
df["Quantity"] = pd.to_numeric(df["Quantity"], errors='coerce')
df["Price"] = pd.to_numeric(df["Price"], errors='coerce')
# YOUR CODE HERE

### Step 2.2 â€“ Remove invalid or missing rows

Decide how to deal with rows that:
- Have missing `Asset`, `Quantity`, or `Price`
- Have `Quantity` or `Price` <= 0
- Have a missing or invalid `Date`

Hint: Not all missing values should be dropped blindly. You may want to drop only critical columns.

Clean based on what would break portfolio valuation.

In [20]:
# ðŸ’¡ Tip: Use .dropna() and boolean filtering

# Remove rows with missing or invalid critical fields
df = df.dropna()
df

# YOUR CODE HERE

   Asset  Quantity    Price       Date  Type
1   TSLA       9.0   916.00 2024-07-14  Sell
6   AMZN      51.0   591.58 2024-12-07  Sell
7   AAPL      96.0   720.35 2024-05-26   Buy
10  TSLA       2.0   599.67 2025-02-04  Sell
13  TSLA      46.0  1145.42 2025-03-23  Sell
17  AAPL      96.0  1303.32 2025-04-06   Buy
18  AAPL      95.0   265.12 2024-09-01  Sell
19  AMZN      58.0  1182.83 2025-02-04  Sell
27  TSLA      59.0   667.38 2024-09-06  Sell
28  AMZN      15.0  1455.88 2024-10-28  Sell

### Step 2.3 â€“ Keep only valid trade types

Valid trade types are: `'Buy'` and `'Sell'`

All others (e.g. `Hold`, empty string, NaN) should be removed or fixed.

In [21]:
# ðŸ’¡ Tip: Use .isin() to filter only valid values

# Filter the 'Type' column
# YOUR CODE HERE
Valid_Types = ["Buy", "Sell"]
df = df[df["Type"].isin(Valid_Types)]
df

   Asset  Quantity    Price       Date  Type
1   TSLA       9.0   916.00 2024-07-14  Sell
6   AMZN      51.0   591.58 2024-12-07  Sell
7   AAPL      96.0   720.35 2024-05-26   Buy
10  TSLA       2.0   599.67 2025-02-04  Sell
13  TSLA      46.0  1145.42 2025-03-23  Sell
17  AAPL      96.0  1303.32 2025-04-06   Buy
18  AAPL      95.0   265.12 2024-09-01  Sell
19  AMZN      58.0  1182.83 2025-02-04  Sell
27  TSLA      59.0   667.38 2024-09-06  Sell
28  AMZN      15.0  1455.88 2024-10-28  Sell

### Step 2.4 â€“ Standardize text columns

Some entries in the `Asset` or `Type` columns might be lowercase or contain whitespace.

Clean them by:
- Removing extra spaces
- Making everything uppercase (or consistent case)
- Dropping empty strings if necessary

In [22]:
# ðŸ’¡ Tip: Use .str.strip() and .str.upper()

# Clean Asset column
# YOUR CODE HERE
df['Asset'] = df['Asset'].str.strip().str.upper()
# Clean Type column
df['Type'] = df['Type'].str.strip().str.upper()
# YOUR CODE HERE
df

   Asset  Quantity    Price       Date  Type
1   TSLA       9.0   916.00 2024-07-14  SELL
6   AMZN      51.0   591.58 2024-12-07  SELL
7   AAPL      96.0   720.35 2024-05-26   BUY
10  TSLA       2.0   599.67 2025-02-04  SELL
13  TSLA      46.0  1145.42 2025-03-23  SELL
17  AAPL      96.0  1303.32 2025-04-06   BUY
18  AAPL      95.0   265.12 2024-09-01  SELL
19  AMZN      58.0  1182.83 2025-02-04  SELL
27  TSLA      59.0   667.38 2024-09-06  SELL
28  AMZN      15.0  1455.88 2024-10-28  SELL

### Step 2.5 â€“ Remove duplicates

If there are duplicate trades, remove them to avoid double-counting in future portfolio valuation.

In [23]:
# ðŸ’¡ Tip: Use .drop_duplicates()
df = df.drop_duplicates()
df
# YOUR CODE HERE

   Asset  Quantity    Price       Date  Type
1   TSLA       9.0   916.00 2024-07-14  SELL
6   AMZN      51.0   591.58 2024-12-07  SELL
7   AAPL      96.0   720.35 2024-05-26   BUY
10  TSLA       2.0   599.67 2025-02-04  SELL
13  TSLA      46.0  1145.42 2025-03-23  SELL
17  AAPL      96.0  1303.32 2025-04-06   BUY
18  AAPL      95.0   265.12 2024-09-01  SELL
19  AMZN      58.0  1182.83 2025-02-04  SELL
27  TSLA      59.0   667.38 2024-09-06  SELL
28  AMZN      15.0  1455.88 2024-10-28  SELL

### Step 2.6 â€“ Reset the DataFrame index

After all rows have been removed or filtered, reset the index to keep the dataset clean and sequential.

In [24]:
# ðŸ’¡ Tip: Use .reset_index(drop=True)
df.reset_index(drop=True)
# YOUR CODE HERE

  Asset  Quantity    Price       Date  Type
0  TSLA       9.0   916.00 2024-07-14  SELL
1  AMZN      51.0   591.58 2024-12-07  SELL
2  AAPL      96.0   720.35 2024-05-26   BUY
3  TSLA       2.0   599.67 2025-02-04  SELL
4  TSLA      46.0  1145.42 2025-03-23  SELL
5  AAPL      96.0  1303.32 2025-04-06   BUY
6  AAPL      95.0   265.12 2024-09-01  SELL
7  AMZN      58.0  1182.83 2025-02-04  SELL
8  TSLA      59.0   667.38 2024-09-06  SELL
9  AMZN      15.0  1455.88 2024-10-28  SELL

### âœ… Final Check: Review the cleaned dataset

Display the first few rows and check:
- Are there still any NaNs?
- Are all values consistent and valid?

In [25]:
# ðŸ’¡ Tip: Use .head() and .isnull().sum()
df.head().isnull().sum()
# YOUR CODE HERE

Asset       0
Quantity    0
Price       0
Date        0
Type        0
dtype: int64

## ðŸ“¦ Save the cleaned DataFrame

Youâ€™ll need this cleaned dataset for the next module (portfolio computation). Letâ€™s save it into a new variable.

In [26]:
# ðŸ’¡ Tip: Use a meaningful name like df_clean
df.to_csv('Clean_Data', index=False)
# YOUR CODE HERE